{% extends "base.html" %}
{% block content %}
<marquee><h2>About</h2></marquee>


<p class="green-text">This website is a functional copy of the website Quora. This is why our name is Arouq (Quora backwards). You can create either a video or a text post, and comment on other people's posts.
<br>
<br><br>
<br>
    Please enjoy this limerick:
    <br><br>
    There was once a kid named ben
    <br>
    He loved to eat ramen
    <br>
    But then he died after eating ten. 
    <br>
    </canvas></p>
{% endblock %}